/*SIGN IN BUTTON STYLING*/
.sign-in-btn {
    -fx-background-color: #7A85AD;
    -fx-background-radius: 80;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0.0, 0, 1);
}

.sign-in-btn:hover {
    -fx-background-color: #616a8a;
}

.sign-in-btn:pressed {
    -fx-background-color: #394055;
    -fx-text-fill: #F8F9F9;
}

/* FIELD STYLING */
.field {
    -fx-background-color: -fx-text-box-border, -fx-background;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-background-radius: 0;
}

.field:focused {
    -fx-background-color: -fx-focus-color, -fx-background;
}

/* DOWNLOAD BUTTON STYLING */
.download_btn {
    -fx-background-color: #616D7E;
    -fx-background-radius: 80;
    -fx-text-fill: #ff9797;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0.0, 0, 1);
}

.download_btn:hover {
    -fx-background-color: #677786;
}

.download_btn:pressed {
    -fx-background-color: #6f8191;
    -fx-text-fill: #ff5a5a;
}

/* LISTVIEW STYLING */
.list-view {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.list-cell {
    -fx-cell-size: 30;
}

.list-cell:even {
    -fx-background-color: #4b545d;
    -fx-background-radius: 30;
}

.list-cell:odd {
    -fx-background-color: #5c656e;
    -fx-background-radius: 30;
}

.scroll-bar:horizontal {
    -fx-background-radius: 30;
    -fx-background-color: transparent;
}

.scroll-bar:vertical {
    -fx-background-radius: 30;
    -fx-background-color: transparent;
}

.thumb {
    -fx-background-color: #343333;
}

.decrement-button .decrement-arrow {
    visibility: false;
}

.increment-button .increment-arrow {
    visibility: false;
}
/* END OF LIST VIEW STYLING */

/* CHECK BOX STYLING */
.check-box {
    -fx-text-fill: white;
}

.check-box:selected > .box {
    /* background color for selected checkbox */
    -fx-background-color: #36bebb;
}

.check-box > .box {
    /* background color of unselected checkbox */
    -fx-background-color: #353535;
}

.check-box:selected > .box > .mark {
    /* modify mark color */
    -fx-background-color: #f8f6f6;
}
/* END OF CHECKBOX STYLING */

/* CONTINUE BUTTON STYLING */
.continue_btn {
    -fx-background-color: #505867;
    -fx-background-radius: 80;
    -fx-text-fill: #ec8c8c;
    -fx-effect: dropshadow(three-pass-box, rgba(255,255,255,0.3), 5, 0.0, 0, 1);
}

.continue_btn:hover {
    -fx-background-color: #596273;
}

.continue_btn:pressed {
    -fx-background-color: #636980;
    -fx-text-fill: #ef4d4d;
}
/* END OF CONTINUE BUTTON STYLING */

/* TREEVIEW STYLING */
.tree-view, .tree-cell {
    -fx-background-color: transparent;
    -fx-text-fill: black;
}

.tree-cell:selected {
    -fx-font-weight: bold ;
}

.tree-cell {
    -fx-padding: 0.75em 0em 0.75em 0em ;
}

/* HOME, LOGOUT, EXIT BUTTON STYLING */
.btn_exit, .btn_home, .btn_logout {
    -fx-background-color: #34495E;
    -fx-text-fill: white;
}

.btn_home:hover, .btn_logout:hover {
    -fx-background-color: #325a7c;
}

.btn_home:pressed, .btn_logout:pressed {
    -fx-background-color: #4a81ac;
    -fx-text-fill: #e3e3e3;
}

.btn_exit:hover {
    -fx-background-color: #325a7c;
    -fx-text-fill: #d70808;
}

.btn_exit:pressed {
    -fx-background-color: #4a81ac;
    -fx-text-fill: #d70808;
}

