/*SIGN IN BUTTON STYLING*/
.sign-in {
    -fx-background-color: #7A85AD;
    -fx-background-radius: 80;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0.0, 0, 1);
}

.sign-in:pressed {
    -fx-background-color: #394055;
    -fx-text-fill: #F8F9F9;
}

/* FIELD STYLING */
.field {
    -fx-background-color: -fx-text-box-border, -fx-background;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-background-radius: 0;
}

.field:focused {
    -fx-background-color: -fx-focus-color, -fx-background;
}

/* DOWNLOAD BUTTON STYLING */
.download {
    -fx-background-color: #616D7E;
    -fx-background-radius: 80;
    -fx-text-fill: #ff9797;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0.0, 0, 1);
}

.download:pressed {
    -fx-background-color: #7782A2;
    -fx-text-fill: #ff5a5a;
}

/* LISTVIEW STYLING */
.list-view {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.list-cell {
    -fx-cell-size: 30;
}

.list-cell:even {
    -fx-background-color: #4b545d;
    -fx-background-radius: 30;
}

.list-cell:odd {
    -fx-background-color: #5c656e;
    -fx-background-radius: 30;
}

.scroll-bar:horizontal {
    -fx-background-radius: 30;
    -fx-background-color: transparent;
}

.scroll-bar:vertical {
    -fx-background-radius: 30;
    -fx-background-color: transparent;
}

.thumb {
    -fx-background-color: #343333;
}

.decrement-button .decrement-arrow {
    visibility: false;
}

.increment-button .increment-arrow {
    visibility: false;
}
/* END OF LIST VIEW STYLING */

/* CHECK BOX STYLING */
.check-box {
    -fx-text-fill: white;
}

.check-box:selected > .box {
    /* background color for selected checkbox */
    -fx-background-color: #36bebb;
}

.check-box > .box {
    /* background color of unselected checkbox */
    -fx-background-color: #353535;
}

.check-box:selected > .box > .mark {
    /* modify mark color */
    -fx-background-color: #f8f6f6;
}
/* END OF CHECKBOX STYLING */

/* CONTINUE BUTTON STYLING */
.continue {
    -fx-background-color: #505867;
    -fx-background-radius: 80;
    -fx-text-fill: #ec8c8c;
    -fx-effect: dropshadow(three-pass-box, rgba(255,255,255,0.3), 5, 0.0, 0, 1);
}

.continue:pressed {
    -fx-background-color: #636980;
    -fx-text-fill: #ef4d4d;
}