/*SIGN IN BUTTON STYLING*/
.sign-in {
    -fx-background-color: #7A85AD;
    -fx-background-radius: 80;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0.0, 0, 1);
}

.sign-in:pressed {
    -fx-background-color: #394055;
    -fx-text-fill: #F8F9F9;
}

/* FIELD STYLING */
.field {
    -fx-background-color: -fx-text-box-border, -fx-background;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-background-radius: 0;
}

.field:focused {
    -fx-background-color: -fx-focus-color, -fx-background;
}

/* DOWNLOAD BUTTON STYLING */
.download {
    -fx-background-color: #616D7E;
    -fx-background-radius: 80;
    -fx-text-fill: #ff9797;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0.0, 0, 1);
}

.download:pressed {
    -fx-background-color: #7782A2;
    -fx-text-fill: #ff5a5a;
}